@layer general, fonts, layout, colors, effects;

@layer general {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        color-scheme: dark light;
        max-width: 100vw;
        min-height: 100vh;
        padding-bottom: 7rem;
        position: relative;
    }

    div.bg {
        padding: 2rem;
    }

    ul,
    ol,
    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    a {
        color: inherit;
        cursor: pointer;
        transition: color 1s ease;
    }

    /*
      ? no visited = :link
      ? tab focus = :focus
    */

    a:link,
    a:visited {
        color: inherit;
    }

    a:link {
        filter: hue-rotate(0);
    }

    a:visited {
        filter: hue-rotate(15deg);
    }

    a:hover {
        scale: 1.05;
    }

    a:focus {
        filter: hue-rotate(45deg);
    }

    a:active {
        color: var(--color-link-active);
    }

    span {
        display: inline-flex;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    button {
        text-align: center;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: capitalize;
    }

    footer {
        position: absolute;
        bottom: 0.8rem;
        left: 50%;
        translate: -50% -50%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.1rem 0;
    }

    body {
        scrollbar-width: none; /*Firefox*/
    }

    /*Webkit(Chrome, Android browser, Safari, Edge...)*/
    body::-webkit-scrollbar {
        width: 0;
    }
}

@layer fonts {
    :root {
        --font-family-main: "PT Serif", serif;
        --font-family-auxiliary: "ADLaM Display", cursive;
        --font-weight-main: 400;
        --font-weight-auxiliary: 400;
    }

    body header *,
    body footer *,
    body {
        font-family: var(--font-family-main);
        font-weight: var(--font-weight-main);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    button {
        font-family: var(--font-family-auxiliary);
        font-weight: var(--font-weight-auxiliary);
    }

    header > input#burger ~ aside > nav > ul a {
        font-size: 1.5rem;
    }

    p::first-letter {
        text-transform: capitalize;
    }
}

@layer layout {
    header {
        --left-header: 20px;
        position: absolute;
        top: 40px;
        left: var(--left-header);
    }

    header > input#burger {
        --width-burger: 2.5rem;
        opacity: 0;
        position: relative;
        z-index: 11;
        width: var(--width-burger);
        aspect-ratio: 1/1;
        border-radius: 5px;
    }

    header > input#burger + div.burger-icon {
        --padding-burger-icon: 0.4rem;
        position: absolute;
        z-index: 10;
        inset: 0;
        padding: var(--padding-burger-icon);
        border-radius: 5px;
        width: 100%;
        aspect-ratio: 1/1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    header > input#burger:checked + div.burger-icon {
        justify-content: center;
    }

    .line {
        --width-line: calc(100% - var(--padding-burger-icon) * 2);
        border-radius: 5px;
        width: 100%;
        aspect-ratio: 1/0.2;
    }

    header > input#burger:checked + div.burger-icon > .line {
        position: absolute;
        inset: 50%;
        translate: -50% -50%;
        width: var(--width-line);
    }

    header > input#burger:checked + div.burger-icon > .line:nth-child(1) {
        rotate: -45deg;
    }
    header > input#burger:checked + div.burger-icon > .line:nth-child(2) {
        display: none;
    }
    header > input#burger:checked + div.burger-icon > .line:nth-child(3) {
        rotate: 45deg;
    }

    header > input#burger ~ aside {
        --left-hide-aside: calc(-100vw + (var(--left-header) - 2.2rem));
        --left-aside: calc(var(--left-header) - 2.5rem);
        position: absolute;
        top: clamp(-30px, 100%, -15px);
        left: var(--left-hide-aside);
        z-index: 9;
        height: 90vh;
        width: 99vw;
        border-left: none;
        border-radius: 0 15px 15px 0;
        padding: clamp(10px, 100%, 5vh) 5vw;
    }

    header > input#burger:checked ~ aside {
        left: var(--left-aside);
    }

    header > input#burger ~ aside > nav {
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

    header > input#burger ~ aside > nav > ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h1 {
        margin-bottom: 2rem;
    }

    main {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
    }

    main .figures {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
        padding: 2rem;
    }

    .card {
        aspect-ratio: 0.7/1;
        padding: 1rem;
        border-radius: 15px;
        width: 250px;
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        justify-items: center;
        align-items: center;
        transition: height 1s ease both;
    }

    .card p {
        text-wrap: balance;
        text-align: center;
    }

    .truncate-text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        position: relative;
        transition: height 1s ease both;
    }

    .truncate-text > input[type="checkbox"] {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        opacity: 0;
    }

    .truncate-text:has(input[type="checkbox"]:checked) {
        overflow: initial;
        display: block;
    }

    .space-figure {
        width: 80%;
        padding: 0.2rem;
        background-color: whitesmoke;
        aspect-ratio: 1/1;
        display: grid;
        place-items: center;
        border-radius: 3px;
        box-shadow: inset 0 0 5px 1px rgb(104, 104, 104);
    }

    .figure {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        --width-figure: 40%;
        width: var(--width-figure);
    }

    .square,
    .circle {
        aspect-ratio: 1/1;
    }

    .circle {
        border-radius: 100%;
    }

    .bar {
        aspect-ratio: 1/0.2;
    }

    .triangle {
        width: 40%;
        height: 1px;
        position: relative;
        top: 15%;
        z-index: 0;
        border: none;
        background-color: black;
    }

    .triangle::before,
    .triangle::after {
        content: "";
        position: absolute;
        top: -56px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: black;
        border-radius: 5px;
    }

    .triangle::before {
        transform: translateX(-50%);
        rotate: -60deg;
    }

    .triangle::after {
        transform: translateX(50%);
        rotate: 60deg;
    }

    footer {
        gap: 0.5em;
    }
}

@layer colors {
    :root {
        --colors: ;
    }

    body {
        background-color: rgb(48 48 48);
        color: whitesmoke;
    }

    main div.bg:nth-child(2n) {
        background-color: rgb(69 69 69);
    }

    main div.bg:nth-child(2n + 1) {
        background-color: rgb(48 48 48);
    }

    header > input#burger + div.burger-icon {
        border: 1px solid black;
        background-color: rgb(200, 219, 219);
    }

    .line {
        background-color: rgb(255, 255, 255);
        border: 1px solid black;
    }

    header > input#burger ~ aside {
        border: 1px solid white;
        background-color: rgba(128, 128, 128, 0.5);
        backdrop-filter: blur(10px);
    }

    .card {
        border: 1px solid gold;
    }

    .figures article {
        filter: drop-shadow(2px 4px 6px black);
    }

    .card * {
        color: black;
    }

    article.card {
        background-color: lightgray;
    }
}

@layer effects {
    header > input#burger ~ aside {
        transition: left 1s ease;
    }

    .line {
        transition: rotate 0.4s ease;
    }

    header > input#burger ~ aside > nav > ul li {
        transition: scale transform 1s ease;
        scale: 0.9;
    }
    header > input#burger ~ aside > nav > ul li:hover {
        scale: 1;
        transform: translateX(5%);
        position: relative;
    }
    header > input#burger ~ aside > nav > ul li::before {
        content: "▷";
        inset: 0;
        color: transparent;
        width: 10%;
        height: 100%;
    }

    header > input#burger ~ aside > nav > ul li:hover::before {
        color: inherit;
    }

    .card::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        aspect-ratio: inherit;
        border-radius: inherit;
        transition: height 1s ease;
        background-image: linear-gradient(
            135deg,
            rgb(230, 193, 255) 10%,
            rgb(117, 40, 150) 50%,
            rgb(29, 1, 36) 100%
        );
    }

    .card:hover::before {
        animation: no-height 1s ease forwards both;
    }

    @keyframes no-height {
        from {
            height: 100%;
        }
        to {
            height: 0;
        }
    }

    .card:hover::before {
        height: 0;
    }

    .shadow-effect:hover {
        filter: drop-shadow(5px 5px 1px #00000070);
    }

    [class$="-effect"] {
        cursor: pointer;
    }

    .card:hover .figure-appear-effect {
        animation: rotate 1s linear alternate 0.5s;
    }

    .card:hover .triangle.figure-appear-effect,
    .card:hover .circle.figure-appear-effect {
        animation: appear 1s linear alternate 0.5s;
    }

    @keyframes rotate {
        to {
            rotate: 360deg;
        }
    }

    @keyframes appear {
        from,
        to {
            width: var(--width-figure);
        }
        50% {
            width: 0;
        }
        to {
            transform: rotateY("180deg");
        }
    }

    .float-effect {
        animation: float-animation 1s ease infinite attr(delay-animation);
        position: relative;
    }

    @keyframes float-animation {
        25% {
            top: -20px;
        }
        from,
        50%,
        to {
            top: 0;
        }
        75% {
            top: 20px;
        }
    }
}
